name: CI

on:
  push:
    branches:
      - master
      - release/**

  pull_request:

env:
  RUSTFLAGS: -Dwarnings

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: clippy, rustfmt
          override: true

      - name: Install Rust Toolchain
        run: |
          rustup toolchain install stable --profile minimal --no-self-update
          rustup component add clippy rustfmt rust-docs --toolchain stable

      - uses: swatinem/rust-cache@v2
        with:
          key: ${{ github.job }}

      - name: Run Rustfmt
        run: cargo fmt  --all -- --check

      - name: Run Clippy
        run: cargo clippy  --all-features --tests -- -D clippy::all

      - name: Check Docs
        run: cargo doc --workspace --all-features --no-deps --document-private-items
        env:
          RUSTDOCFLAGS: -Dwarnings

  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust Toolchain
        run: rustup toolchain install stable --profile minimal --no-self-update

      - uses: swatinem/rust-cache@v2
        with:
          key: ${{ github.job }}

      - name: Run Cargo Tests
        run: cargo test --all-features

  js:
    name: JS Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: volta-cli/action@v4

      - uses: actions/cache@v4
        id: cache
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('package.json', 'yarn.lock') }}

      - if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile

      - run: |
          yarn build
          yarn test
